/* ------------------------------ struture of css --------------------------- */
/* variables      */
/* common blocks  */
/* breadcrumbs    */
/* menu           */
/* footer         */
/* page main      
   -sluzby
   -start screen
   -advantages
*/
/* page contacts
   -desc of service
   -example of project
*/
/* page of service */
/* formular       */
/* ----------------------------- / struture of css -------------------------- */

/* -------------------------------- variables ------------------------------- */
/*
font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif; 
*/
:root {
  --firm-clr: #ef7f1b;
  --firm-clr-hover :#f28d33;
  --firm-clr-transparent: rgba(239, 127, 27, .8);
  --light-gray: #c4c4c4;
  --footer-clr: #333333;
  --mobile-nav-clr: rgba(51, 51, 51, .8);
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-variant: normal;
  list-style: none;
}

body,
html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
}

/* ------------------------------ common blocks ----------------------------- */
section{
  max-width: 1200px;
  margin: 1em auto;
  padding: .3em;
}

a {
  text-decoration: none;
}

/* title */
.section__title{
  padding-top: 1em;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 2em;
  text-align: center;
}
/* ----------------------------- / common blocks ---------------------------- */


/* ------------------------------- breadcrumbs ------------------------------ */
.breadcrumbs{
  padding: 0 .3em;
  font-family: 'Open Sans', sans-serif; 
}

.breadcrumbs a{
  text-decoration: none;
}

.breadcrumbs ul{
  padding: 0;
}

.breadcrumb {
  background-color: transparent;
  display: flex;
  justify-content: center;
}

.breadcrumb_link-no-active,
.breadcrumb_link-no-active:hover {
  color: var(--firm-clr);
}

.breadcrumb_link-active{
  font-weight: 600;
}

.breadcrumb_link-active,.breadcrumb__icon{
  color: var(--light-gray);
}

.breadcrumb__icon{
  margin: 0 .3em;
}

.breadcrumb_link-active:hover {
  color: var(--light-gray);
  cursor: default;
  text-decoration: none
}
/* ------------------------------ / breadcrumbs ----------------------------- */


/* ---------------------------------- menu ---------------------------------- */
.header {
  overflow: hidden;
  position: relative;
  height: 80px;
  /* background-color: var(--firm-clr) */
}

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding: 3px 50px 10px 35px
}

.logo {
  font-size: 32px;
  font-weight: 700;
  color: #000;
  font-family: 'Roboto', sans-serif;
}

.logo_inner,
.logo_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.logo_wrap {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}

.logo_img {
  margin-right: 20px
}

.logo_image {
  width: 83px;
}

.logo_decr {
  font-size: 18px;
  color: #000;
  font-family: 'Open Sans', sans-serif; 
}

.logo__href {
  font-size: 32px;
  font-weight: 500;
  line-height: 1;
}

.logo__href,
.logo__href:hover {
  color: #000;
  text-decoration: none;
}

.logo__href2,
.logo__href2:hover {
  text-decoration: none
}

.logo__href2:hover {
  color: #000
}

@media (max-width:768px) {
  .nav-container {
    padding-left: 45px;
    padding-right: 15px
  }
}

@media (max-width:580px) {
  .nav-container {
    padding-left: 15px
  }
}

@media (max-width:535px) {
  .nav-container {
    padding-left: 5px
  }

  .logo_img {
    margin-right: 5px
  }

  .logo__href {
    font-size: 26px;
  }

  .logo_decr {
    font-size: 16px
  }
  .header {
    height: 60px;
  }
}

@media (max-width:444px) {
  .logo__href {
    font-size: 20px;
  }
}

@media (max-width:380px) {
  .logo__href {
    font-size: 18px;
  }
}

@media (max-width:352px) {
  .logo__href {
    font-size: 16px;
  }
  .logo_decr {
    font-size: 14px
  }
  .logo_image {
    width: 60px;
    margin-top: 10px;
  }
}

.nav_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-top: 0;
}

@media (max-width:992px) {
  .nav_inner {
    display: none
  }
  .logo {
    margin-right: 45px;
  }
}

.nav__item {
  margin-right: 50px;
}

.nav__item:last-child {
  margin-right: 0
}

.nav__link {
  font-size: 22px;
  font-weight: 500;
  color: #000;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

.nav__link-active{
  color: var(--firm-clr);
}

.nav__link:hover {
  color: var(--firm-clr);
}

.menu-icon {
  z-index: 19;
  position: absolute;
  top: 25px;
  right: 30px;
  display: none;
  width: 30px;
  height: 30px;
  cursor: pointer
}

@media (max-width:992px) {
  .menu-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
  }

  .mobile-nav {
    width: 100%;
    bottom: 100%
  }
}

@media (max-width:535px) {
  .menu-icon {
    top: 20px;
  }
}

.menu-icon-line {
  position: relative;
  width: 30px;
  height: 4px;
  border-radius: 50px;
  background-color: #000
}

.menu-icon-line:before {
  top: -10px
}

.menu-icon-line:after,
.menu-icon-line:before {
  position: absolute;
  left: 0;
  content: "";
  width: 30px;
  height: 4px;
  border-radius: 50px;
  background-color: #000;
  -webkit-transition: top .2s linear .2s, -webkit-transform .2s ease-in;
  transition: top .2s linear .2s, -webkit-transform .2s ease-in;
  -o-transition: transform .2s ease-in, top .2s linear .2s;
  transition: transform .2s ease-in, top .2s linear .2s;
  transition: transform .2s ease-in, top .2s linear .2s, -webkit-transform .2s ease-in
}

.menu-icon-line:after {
  top: 10px
}

.menu-icon.menu-icon-active .menu-icon-line {
  background-color: transparent
}

.menu-icon.menu-icon-active .menu-icon-line:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.menu-icon.menu-icon-active .menu-icon-line:after,
.menu-icon.menu-icon-active .menu-icon-line:before {
  top: 0;
  -webkit-transition: top .2s linear, -webkit-transform .2s ease-in .2s;
  transition: top .2s linear, -webkit-transform .2s ease-in .2s;
  -o-transition: top .2s linear, transform .2s ease-in .2s;
  transition: top .2s linear, transform .2s ease-in .2s;
  transition: top .2s linear, transform .2s ease-in .2s, -webkit-transform .2s ease-in .2s;
  background-color: var(--firm-clr);
}

.menu-icon.menu-icon-active .menu-icon-line:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg)
}

.mobile-nav {
  z-index: 9;
  display: block;
  position: absolute;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  top: -100%;
  left: 0;
  height: 100%;
  width: 100%;
  padding-top: 10vh;
  background-color: var(--mobile-nav-clr);
  -webkit-transition: -webkit-transform .4s ease-in;
  transition: -webkit-transform .4s ease-in;
  -o-transition: transform .4s ease-in;
  transition: transform .4s ease-in;
  transition: transform .4s ease-in, -webkit-transform .4s ease-in;
  text-align: center
}

@media (max-width:375px) {
  .menu-icon {
    right: 20px
  }
}

@media (max-width:444px) {
  .menu-icon-line {
    height: 2px;
    width: 25px;
  }
  .menu-icon-line:after,
  .menu-icon-line:before {
  height: 2px;
  width: 25px;
  }
  .menu-icon-line:before {
    top: -7px
  }
  .menu-icon-line:after {
    top: 7px
  }
}

.mobile-nav--active {
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%)
}

.mobile-nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0
}

.mobile-nav__item {
  margin-bottom: 30px
}

.mobile-nav__link {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 26px
}

.mobile-nav__link-active{
  color: var(--firm-clr);
}

.mobile-nav__link:hover {
  color: #fff
}
/* ---------------------------------- menu ---------------------------------- */



/* --------------------------------- footer --------------------------------- */
footer {
  margin-top: 1em;
  padding-top: 1em;
  background-color: var(--footer-clr);
  font-family: 'Roboto', sans-serif;
}

footer h3{
  margin-top: 0;
  margin-bottom: .5em;
}

footer h3 a{
  font-family: '', sans-serif;
  font-size: 1.1em;
  text-decoration: none;
  color: var(--firm-clr);
}

footer h3 a:hover{
  text-decoration: underline;
}

footer h4{
  margin: .5em auto;
  font-family: 'open-sans', sans-serif;
  font-weight: 400;
  font-size: 1.1em;
  color: #fff;
}

footer p{
  margin: 0;
  color: #fff;
  font-size: 1.1em;
  font-weight: 300;
  letter-spacing: .4px;
}

footer p a{
  text-decoration: none;
  color: #fff;
}

footer a:hover{
text-decoration: underline;
}

footer .copyright{
  color: #fff;
  text-align: center;
  font-weight: 300;
}
/* -------------------------------- / footer -------------------------------- */


/* -------------------------------- main page ------------------------------- */

/* -------------------------------- start screen ---------------------------- */
.start__screen{
  min-height: calc(100vh - 80px);
  width: 100%;
}

.start__screen .start__screen_inner{
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.start__screen h1{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 1.5em;
  font-weight: 700;
}

.start__screen h2{
  font-family: 'open-sans', sans-serif;
  text-align: center;
  font-size: 1.5em;
  font-weight: 500;
}

.start__screen p{
  font-family: 'open-sans', sans-serif;
  text-align: center;
  font-size: 1.5em;
  font-weight: 500;
}

.start__screen p a{
  color: var(--firm-clr);
  text-decoration: none;
}

/* ------------------------------- / start__screen ------------------------------ */



/* --------------------------------- sluzby --------------------------------- */
.sluzby{
margin: 0 auto;
}

.sluzby__list{
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  /* justify-content: space-between; */
  /* justify-content: space-around; */
  justify-content: center;
}

.sluzby__item{
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 200px;
  margin: .5em;
}

.item__img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.item__desc_wrap{
  position: relative;
  top: -60px;
  /* max-height: 60px; */
  background-color: var(--firm-clr-transparent);
}

.item__desc{
  color: #fff;
  font-family: 'open-sans', sans-serif;
  font-size: 1.2em;
  display: block;
  padding: 1em;
}

@media (max-width: 992px){
  .sluzby__item{
    width: 31%;
  }
}

@media (max-width: 768px){
  .sluzby__item{
    width: 45%;
  }
}

@media (max-width: 530px){
  .sluzby__item{
    width: 90%;
  }
}

/* -------------------------------- / sluzby -------------------------------- */


/* ------------------------------- advantages ------------------------------- */
.advantages__list{
  display: flex;
  flex-wrap: wrap;
}

.advantages__item{
  display: flex;
  flex-direction: column;
  width: 33.33%;
}

.advantages__item img{
  max-height: 100px;
}

.advantages__item p{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 1.3em;
  font-weight: 500;
}

@media (max-width:425px){
  .advantages__item img{
    max-height: 70px;
  }

  .advantages__item p{
    font-family: 'open-sans', sans-serif;
    text-align: center;
    font-size: 1.1em;
  }
}
/* ------------------------------ / advantages ------------------------------ */


/* ------------------------------- / main page ------------------------------ */



/* ------------------------------ page contacts ----------------------------- */
.page__contacts h1{
  margin-top: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 2.5em;
  text-align: center;
}

.page__contacts p{
  font-family: 'open-sans', sans-serif;
  font-weight: 500;
  font-size: 1.1em;
}

.page__contacts .text_info{
  font-size: 1.2em;
}

.page__contacts a{
  color: var(--firm-clr);
  font-size: 1.1em;
  text-decoration: none;
}
/* ----------------------------- / page contacts ---------------------------- */


/* ----------------------------- page of service ----------------------------- */
.section__project{
  border-bottom: 1px solid var(--firm-clr-hover);
  padding: 1em;
  margin-bottom: 1em;
}

.section__project h2{
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
}

.swiper-container{
  max-width: 100%;
  max-height: 500px;
}

.slider__img{
  display: block;
  width: auto;
  object-fit: cover;
  object-position: center;
}

.swiper-button-prev, .swiper-button-next{
  color: var(--firm-clr);
}

@media (max-width: 425px){
  .section__project{
    padding: .50em;
  }
}

.desc__service p {
  font-family: 'open-sans', sans-serif;
  font-size: 1.1em;
}
/* ---------------------------- / page of service ---------------------------- */


/* -------------------------------- formular -------------------------------- */
.user_name, .user_number{
  width: 100%;
  height: 2em;
  font-size: 1.2em;
}

.user_name:focus, .user_number:focus, .user_message:focus{
  outline:none;
}

.user_name:focus, .user_number:focus, .user_message:focus{
  border: 1px solid var(--firm-clr);
  border-radius: 3px;
  box-shadow: 2px 2px 3px 0 var(--light-gray);
}

.user_message{
  margin-top: 1em;
  width: 100%;
  font-size: 1.2em;
}

.formular_btn{
  border: none;
  width: 200px;
  margin: .3em auto;
  padding: .5em;
  border-radius: 4px;
  text-align: center;
  font-size: 1.3em;
  text-decoration: none;
  color: #fff;
  background-color: var(--firm-clr-hover);
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
}

.formular_btn:hover{
  background-color: var(--firm-clr);
}

.formular_loader{
  display: flex;
  justify-content: center;
}

.formular span{
  text-align: center;
  margin-bottom: 1em;
  color: var(--light-gray);
  font-family: 'open-sans', sans-serif;
}

@media (max-width:767px) {
  .user_number{
    margin: 1em auto;
  }
}
/* ------------------------------- / formular ------------------------------- */


